---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<canvas id="life" width="500" height="500"></canvas>
		<script>
			import sample from "../core/sample";

			document.addEventListener("DOMContentLoaded", () => {
				sample();
			});
		</script>
	</body>
</html>
