---
import SampleLink from "../components/SampleLink.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<div class="flex flex-col">
		<nav class="w-full p-4 bg-slate-600 text-white">
			<div>
				<h1 class="font-bold text-2xl">Canvas Play Grounds</h1>
			</div>
		</nav>
		<div class="flex p-4">
			<SampleLink
				href="/canvas-playground/life_simulator"
				desc="This is a simple life simulator">Life</SampleLink
			>
		</div>
	</div>
</MainLayout>
